version: "3"
services:
  api:
    image: node:16.15.1

    working_dir: /lap-2-portfolio-week-project-backend
    volumes:
      - type: bind
        source: ./
        target: /lap-2-portfolio-week-project-backend

  db:
    image: postgres:12.4
    environment:
      - POSTGRES_USER=futureproof
    volumes:
      - './database:/docker-entrypoint-initdb.d/:ro'
